body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f00000;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 6.6vh;
  text-align: center;
}

main {
  padding: 12.1vh;
}

footer {
  background-color: #ffe600;
  color: #8d0a0a;
  padding: 6.6vh;
  text-align: center;
}
